
  .navbar-dark .navbar-nav .nav-link{
    color: rgba(255,255,255,0.7)
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,0.9)
  }

  /*disabled info button - make it grayer */
  .btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #7fa6ac;
    border-color: #808080;
}
    a{
      color: #17a2b8;
      cursor: pointer;
    }

    .navbar-light .navbar-nav .nav-link:hover {
      color: #17a2b8;
  }


    /* Anchors in card links */
    a:not([href]):not([tabindex]) {
      color: #17a2b8;
      text-decoration: none;
  }
  /* Button of the link variant */
  .btn-link{
    color: #17a2b8;
    text-decoration: none;
  }
  
  .btn-link:hover{
    color: #17a2b8;
    text-decoration: none;
  }
  /* ListGroup.Item :: selected list items */
  .list-group-item.active{
    background-color: #17a2b8;
    border-color: #098a9e;
  }
  .icon-card-container{
    max-height: 10em;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0em 1em;
  }
  .icon-card{
    border: 1px solid #ccc;
    padding: 0.2em;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #666;
    text-align: center;
    cursor: pointer;
  }
  .icon-card:hover{
    background-color: rgba(9,138,158,0.2);
    border-color: #098a9e;
    color: #666;
  }
  .icon-card-active{
    background-color: #098a9e;
    border-color: #036271;
    color: white;
  }
  .icon-card-active:hover{
    background-color: #098a9e;
    color: white;
  }
  .icon-color{
    color: #666;
  }
  .notification{
    position: fixed;
    bottom: 1em;
    right: 1em;
    color: rgba(28, 97, 108, 0.7);
    text-align: center;
    z-index: 10000;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    border:1px solid #098a9e;
    background: rgba(159, 213, 222, 0.3);
  }
  .notification-warning{
    color: rgba(108, 87, 28, 0.7);
    border:1px solid #9e7b09;
  }
  .notification-error{
    color: #b31c2a;
    border:1px solid #b31c2a;
    background: rgba(255, 194, 194, 0.3);
  }
  .btn-danger{
    background-color: #b31c2a;
  }
  .dropdown-menu{
    background-color: #17a2b8
  }
  .dropdown-item{
    color: white;
    background-color: #17a2b8
  }
  .dropdown-item:hover{
    color: white;
    background-color: #34b6ca
  }
  .dropdown-item:active{
    color: white;
    background-color: #17a2b8
  }
  .dropdown-item.active{
    color: white;
    background-color: #138da0
  }
  .dropdown-item.active:hover{
    color: white;
    background-color: #138da0
  }